<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTA TAREAS TODO</title>
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="../../jquery-3.6.1.min.js"></script>

</head>
<body>
<center>
    <div id="appVue">
        <h1 id="titulo">Lista de tareas</h1>
        NUEVA:
        <input type="text" v-model="titulo">
        <button id="añade" v-on:click="añade" v-on:keyup.13="añade">AÑADIR</button>
        <br>
        <br>
        <div id="contador">Total tareas: {{tareas.length}} <br> Tareas acabadas: {{cuenta}}</div>
            <transition-group name="fade">
            <div id="cuadradito 1" v-for="t,i in miListaFiltrada" >
                <div id="cuadrado">
                    <hr>
                    <section v-bind:class="{bnt_verde: t.completada, btn_rojo: !t.completada }">
                        <p>Descripción: {{t.titulo}}</p>
                        <p> Fecha: {{t.fecha}}</p>
                    </section>
                    <!-- BTN DE COMPLETAR Y BORRAR QUE SE MUESTRAN EN CADA TAREA -->
                    <button id="completar" v-on:click="completar(i)">✅</button>
                    <button id="borrar" v-on:click="borrar(i)">❌</button>
                </div>                      
            </div>
         </transition-group>
        <hr>
        <button id="borrar_completadas" v-on:click="borrarTareasCompletadas">BORRAR TAREAS COMPLETADAS</button><br>
        <button id="mostrar_completadas" v-model="completas"  v-on:click="mostrarTareasCompletadas">COMPLETADAS</button>
        <button id="mostrar_activas" v-model="incom" v-on:click="mostrarTareasActivas">EN CURSO</button>
        <button id="mostrar_todas" v-model="todas" v-on:click="mostrarTodasTareas">TODAS</button>    
        </div>
</center> 
</body>
</html>