html {
    height: 100%;
  }
body{
    margin-top: 5%;
    zoom: 150%;
    background: linear-gradient(#bebc79, #2d6459, rgb(124, 49, 61), rgb(220, 176, 176), rgb(163, 208, 163));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

/****ESTILOS CONTENEDOR VUE PRINCIPAL****/
#appVue{
    color: rgb(0, 0, 0);
    background-color: rgb(222, 235, 231);
    max-width: 350px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#titulo{
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: white;
}

/****ESTILOS CONTENEDOR DE TODAS TAREAS Y BOTONES****/
#cuadradito{
    position: inherit;
    align-self: center;
    border-radius: 10px;
    margin: 0%;
    padding-top: 10px;
    align-content:space-between;
    overflow: auto;
    /* margin-right: 30px; */
}

/****ESTILOS CUANDO TAREA COMPLETA****/
.btn_verde{
    margin: 1 auto;
    padding:0;
    color:rgb(6, 63, 6);
    background-color: rgb(193, 236, 150);
    text-decoration:line-through;
}

/****ESTILOS CUANDO TAREA NO COMPLETA****/
.btn_rojo{
    margin: 1 auto;
    padding:0;
    color:rgb(185, 38, 28);
    background-color: rgb(240, 161, 161);
}

/****ESTILOS BTN 'AÑADIR' TAREA****/
#añade{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-color: black;
}

/****ESTILOS BTN 'DONE' ****/
#completar{
    background-color: rgb(166, 230, 166);
    font-weight: bold;
    border-radius: 10px;
}

/****ESTILOS BTN 'BORRAR' ****/
#borrar{
    background-color: rgb(235, 179, 179);
    font-weight: bold;
    border-radius: 10px;
}

/****ESTILOS BTN 'DELETE ALL DONE' ****/
#borrar_completadas{
    background-color: rgba(157, 146, 157, 0.974);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}

/****ESTILOS BTN 'COMPLETED' ****/
#mostrar_completadas{
    background-color: rgb(191, 240, 211);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}

/****ESTILOS BTN 'ACTIVE' ****/
#mostrar_activas{
    background-color: rgb(202, 199, 149);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}

/****ESTILOS BTN 'ALL' ****/
#mostrar_todas{
    background-color: rgb(155, 170, 194);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}
/****ESTILOS CONTADOR SUPERIOR****/
#contador{
    background-color: rgb(255, 255, 255);
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 20px;
}
/****TRANSICIONES DE BORRADO****/
/*En esta transicion manda al ultimo lugar la tarea completada y la elimina poco a poco*/
.fade-leave-active {
    transition: all 1s cubic-bezier(1, 0.5, 0.8, 1);
  }
  
  .fade-enter-from,
  .fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
  }