body{
    background-color: lightslategray;
}

a{
    text-decoration: none;
    color: yellow;
    background-color: sandybrown;
    border-radius: 30%;
}

#title, p{
    color: darkslategrey;
}
header, #categorias, #orden{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#orden, #orden a{
    justify-content: center;
}

#links, #categorias p{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-around;
}

#title{
    align-self: center;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
}

#logo{
    height: 100px;
    width: 200px;
}


#userlogo, #carrologo, #ascendente, #descendente{
    height: 50px;
    width: 50px;
    margin: 10px;
}

#disponible, #disponible_carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tarjeta, .tarjeta__detallada{
    box-shadow: 2px 2px 2px 2px darkgrey;
    border-radius: 10%;
    float: left;
    width: 280px;
    height: 360px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #eee;
}

.tarjeta__body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.tarjeta__detallada{
    height: auto;
}

.tarjeta__imagen_top, .tarjeta__imagen_detallada{
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
}

.tarjeta__price, .tarjeta__description, .tarjeta__cantidad{
    color: black;
}

.tarjeta__description{
    height: 100px;
    margin-bottom: 10px;
    display: none;
}

#loading-screen{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 200px;
    width: 200px;
}
